/* Global Setting */
a {
  text-decoration: none;
}
button {
  border: 0 !important;
  border-radius: 50px !important;
}
button:hover {
  filter: brightness(108%);
}
.disabled {
  pointer-events: none;
}
.clickable {
  cursor: pointer;
}
.clickable:hover {
  cursor: pointer;
  filter: brightness(108%);
}
audio::-webkit-media-controls-timeline,
video::-webkit-media-controls-timeline {
  display: none;
}
audio::-webkit-media-controls,
video::-webkit-media-controls {
  display: none;
}

label {
  cursor: pointer;
}

#upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

-webkit-scrollbar {
  width: 16px;
}
-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}
-webkit-scrollbar-thumb {
  background-color: #d4aa70;
  border-radius: 100px;
}

/* Scroll to Bottom */
.react-scroll-to-bottom--css-sfywf-1n7m0yu {
  height: 100%;
  overflow: hidden !important;
  width: 100%;
}

/* Modal Premium */
#modal-premium .modal-content {
  background-color: transparent;
  padding: 0;
  border-radius: 30px;
}
#modal-premium .modal-premium-header {
  background-color: rgb(106, 14, 129);
  border: 0;
  color: #ffffff;
  padding: 30px 40px 0px 40px;
  border-radius: 30px 30px 0px 0px;
}
#modal-premium .modal-premium-body {
  background-color: rgb(106, 14, 129);
  border: 0;
  padding: 40px;
  border-radius: 0px 0px 30px 30px;
}
/* #modal-premium .modal-premium-footer{
  background-color: rgb(106, 14, 129);
  border: 0;
  padding: 30px;
} */
#modal-premium .modal-premium-header .btn-close {
  opacity: 1;
  background: transparent
    url("https://flaticons.net/icon.php?slug_category=mobile-application&slug_icon=close")
    center/1.2em auto no-repeat;
}
.modal-premium-body Table {
  margin: 0;
}
#modal-premium .modal-premium-header .modal-title {
  font-size: 35px;
}
.modal-premium-body .premium .table-price {
  width: 370px;
  margin: auto;
  background-color: #f0f0f0;
  border: 3px solid #e6e6e6;
  border-radius: 15px;
  padding: 15px;
}
.modal-premium-body .premium {
  border-radius: 15px;
  padding: 20px;
}
.modal-premium-body .free {
  border-radius: 15px;
  padding: 20px;
}
.modal-premium-body .free .table-price {
  width: 250px;
  margin: auto;
  background-color: #f0f0f0;
  border: 3px solid #e6e6e6;
  border-radius: 15px;
  padding: 15px;
}
.modal-premium-body .premium-footer {
  margin: 30px 0;
}
.modal-premium-body .free .free-footer {
  color: #e4e4e4;
}

/* Icon */
.icon-menus {
  color: rgb(106, 14, 129);
  font-size: 30px;
  margin-right: 7px;
}
.icon-online-sm {
  font-size: 7px;
  color: rgb(36, 197, 36);
  margin-right: 7px;
}
.icon-online-md {
  font-size: 12px;
  color: rgb(36, 197, 36);
  margin-right: 7px;
}
.icon-online-lg {
  font-size: 15px;
  color: rgb(36, 197, 36);
}

.icon-offline-sm {
  font-size: 7px;
  color: rgb(185, 185, 185);
  margin-right: 7px;
}
.icon-offline-md {
  font-size: 12px;
  color: rgb(185, 185, 185);
  margin-right: 7px;
}
.icon-offline-lg {
  font-size: 15px;
  color: rgb(185, 185, 185);
}
.icon-edit-user-info {
  color: blueviolet !important;
  font-size: 25px;
}
.icon-edit-profile-banner {
  transform: translateX(-40px) translateY(20px);
  position: absolute;
}
.icon-edit-avatar {
  transform: translateX(-40px) translateY(70px);
  position: absolute;
}
.icon-edit-profile-info {
  font-size: 20px;
}
.icon-user-info-headline {
  color: #464646;
  font-size: 18px;
}
.icon-user-info-privacy {
  color: #cfcfcf;
  font-size: 12px;
}
.icon-send-message {
  color: #424242;
  font-size: 23px;
  margin-left: 20px;
}
.icon-offline {
  font-size: 20px;
  color: grey;
  margin-right: 7px;
}
.icon-premium {
  color: rgb(255, 255, 255) !important;
  margin-right: 7px;
}
.icon-header-chat-level {
  font-size: 15px;
  margin-right: 10px;
}
.icon-header-chat {
  font-size: 25px;
}
.icon-create-room-video {
  font-size: 20px;
  margin-right: 10px;
}
.icon-disabled {
  color: rgb(201, 201, 201) !important;
  font-size: 30px;
}
.icon-authen-true {
  font-size: 23px;
  color: #424242;
}
.icon-authen-false {
  position: absolute;
  font-size: 23px;
  color: rgb(224, 224, 224);
}
.icon-send-gif {
  font-size: 23px;
  color: #424242;
}
.fa-lock {
  position: relative;
  color: #ffa600;
  font-size: 13px;
  transform: translateY(4px) translateX(-4px);
}

/* Button */
.btn-sign {
  background-color: #5f358f !important;
  margin: 30px 0;
  padding: 10px 20px !important;
}
.btn-premium-cta {
  background-color: rgb(235, 172, 38) !important;
  color: rgb(255, 255, 255) !important;
  border-radius: 30px !important;
}
.btn-video-action {
  padding: 15px 40px !important;
  border-radius: 40px !important;
}
.btn-ran {
  background-color: blueviolet !important;
  color: rgb(255, 255, 255) !important;
}
.btn-stop {
  background-color: rgb(218, 218, 218) !important;
  color: blueviolet !important;
}
.btn-request {
  background-color: rgb(235, 172, 38) !important;
  color: rgb(255, 255, 255) !important;
}
.btn-send-verif {
  background-color: blueviolet !important;
  color: rgb(255, 255, 255) !important;
}
.btn-verif {
  background-color: blueviolet !important;
  color: rgb(255, 255, 255) !important;
}
.btn-edit-page {
  font-weight: bold !important;
  background-color: #8051b6 !important;
}
.btn-send-message-playground {
  all: unset;
  cursor: pointer;
}

/* Input */
.input-chat {
  border-radius: 30px !important;
}

.input-search {
  border-radius: 30px !important;
}

/* Avatar */
.avatar {
  height: 170px;
  width: 170px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.avatar-cb2 {
  border-radius: 50%;
  object-fit: cover;
}

/* Sidebar */
.sidebar-profile {
  width: 370px !important;
  padding: 0 35px !important;
  background-color: rgb(186, 1, 233);
}
.sidebar-menus {
  width: 110px !important;
  background-color: rgb(245, 245, 245);
}
.sidebar-chat {
  width: 370px !important;
  padding: 0 35px !important;
}
.sidebar-friend {
  width: 370px !important;
  padding: 0 35px !important;
}

/* Pushable button CTA RAN */
.pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4 px;
  transition: filter 250ms;
  margin-bottom: 60px;
}
.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(3px) translateX(-3px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}
.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #5f358f;
}
.front {
  display: block;
  position: relative;
  padding: 16px 16px;
  border-radius: 50%;
  color: white;
  background: #a766f0;
  will-change: transform;
  transform: translateY(-6px) translateX(4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}
.pushable:hover {
  filter: brightness(110%);
}
.pushable:hover .front {
  transform: translateY(-8px) translateX(6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.pushable:active .front {
  transform: translateY(-3px) translateX(2px);
  transition: transform 34ms;
}
.pushable:hover .shadow {
  transform: translateY(5px) translateX(-4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.pushable:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}
.pushable:focus:not(:focus-visible) {
  outline: none;
}

/* Headers */
.header {
  height: 100px;
}

/* Navbar */
.avatars {
  display: flex;
}
.item {
  border-radius: 100%;
  height: 35px;
  width: 35px;
  text-align: center;
  overflow: hidden;
  margin-left: -10px;
}
.total-user-online {
  font-size: 45px;
}

/* Video Play ground */
.video-prev {
  width: 100%;
  height: 500px;
  border-radius: 20px;
  background-color: black;
}
.video-prev-searcing {
  width: 100%;
  height: 500px;
  border-radius: 20px;
}
.video-prev-searcing .action {
  position: absolute;
  z-index: 1;
}
#video-static {
  border-radius: 20px;
  position: relative;
}
#video-user {
  border-radius: 20px;
  position: relative;
}
.playground {
  margin-top: 12px;
}
#action {
  position: absolute;
}
#notification {
  z-index: 1;
  border-radius: 50px;
  transform: translateY(30px);
  position: absolute;
  border: 5px solid #42424277;
}

/* Chat Area Playground */
.chat-box {
  height: 310px;
  border-radius: 20px;
  background-color: rgb(245, 245, 245);
}
.chat-box-area {
  height: 250px;
  border-radius: 20px;
  overflow-x: auto;
}
.username-chat-bubble {
  font-size: 17px;
  font-weight: bolder;
  margin-bottom: 1px;
}
.guest {
  color: blueviolet;
}

/* Text */
.text-username {
  font-size: 23px;
  /* margin-left: 15px; */
  font-weight: 500;
  color: #777777;
}
.text-username-you {
  font-size: 19px;
  font-weight: 500;
  color: brown;
}
.text-username-guest {
  font-size: 19px;
  font-weight: 500;
}
.text-message {
  color: rgb(155, 155, 155);
  display: inline-block;
  font-size: 15px;
}
.text-time {
  font-size: 12px;
}
.subheading {
  color: rgb(226, 226, 226);
  font-size: 25px;
}

/* Badge */
.badge-level-grey .bg-primary {
  background-color: rgb(112, 112, 112) !important;
}
.badge-level-yellow .bg-primary {
  background-color: rgb(235, 172, 38) !important;
}
.badge-level-green .bg-primary {
  background-color: rgb(7, 122, 16) !important;
}
.badge-level-red .bg-primary {
  background-color: rgb(204, 48, 1) !important;
}
.badge-level-blue .bg-primary {
  background-color: rgb(8, 96, 155) !important;
}
.badge-header-premium .bg-primary {
  background-color: rgb(235, 172, 38) !important;
  color: #ffffff;
}
.badge-header-free .bg-primary {
  background-color: #ffffff !important;
  color: #5f358f;
}
.badge-header-default .bg-primary {
  background-color: #5f358f !important;
  color: #ffffff;
}

/* Sidebar Chat */
.cb2:hover {
  background-color: rgb(240, 240, 240);
  cursor: pointer;
}
.avatar-cb2 {
  border-radius: 50%;
}
.chat-list {
  overflow-x: auto;
  max-height: 650px;
  margin-top: 10px !important;
}

/* Friend Chat */
.badge-friend .bg-primary {
  background-color: blueviolet !important;
}

/* Form */
#login-form {
  width: 500px !important;
}
#register-form {
  width: 500px !important;
}

/* Chat */
.chat-header {
  height: 100px;
  background-color: rgb(156, 93, 214) !important;
  color: white;
}
.chat-area {
  height: 780px;
  overflow-x: auto;
  width: auto;
  padding: 0 !important;
}
.cb1 {
  border-radius: 25px;
}
.chat-you {
  background-color: rgb(100, 40, 156);
  color: white;
}
.chat-guest {
  background-color: rgb(156, 93, 214);
  color: white;
}
.chat-message {
  color: white;
}
.chat-time {
  color: rgb(128, 128, 128);
  font-size: 15px;
}
.chat-area-default {
  width: 600px;
  margin: auto;
  transform: translateY(80%);
}
.chat-area-default img {
  margin: auto;
}
.image-message {
  width: 300px;
  border-radius: 25px;
  padding: 15px 5px;
}

/* Friend List */
.friend-list {
  height: 590px;
  max-height: 600px;
  overflow-x: auto;
}

.friend-list-item {
  border-radius: 50px;
  background-color: rgb(247, 247, 247);
}

.nav-pills .nav-link {
  border-radius: 50px !important;
}

.nav-pills .nav-link.active {
  background-color: #5f358f !important;
  color: white !important;
  border-radius: 50px;
}

.nav-link {
  color: #5f358f !important;
}

.tab-filter-online {
  border-radius: 50px !important;
  background-color: rgb(233, 233, 233);
  width: 270px;
}

.create-room-video {
  background-color: rgb(235, 172, 38) !important;
  border-radius: 50px !important;
}

/* On Boarding */
.onBoading {
  background-color: #a766f0;
}

/* Profile Page */
.sidebar-profile .nav-link {
  border-radius: 30px;
  color: white !important;
  border: 3px solid #8051b6;
  background-color: #a766f0;
  font-weight: bold;
}

.sidebar-profile .nav-link:hover {
  background-color: #be93f0;
}

.sidebar-profile .background-profile {
  max-width: 1280px;
  max-height: 300px;
  position: relative;
}

.detail-page .avatar {
  max-width: 170px;
  max-height: 170px;
  border-radius: 50%;
  transform: translateY(-60px);
  padding: 5px;
  background-color: #e4e4e4;
}

.detail-page .social-media i {
  padding-top: 17px;
  font-size: 25px;
}

.detail-page .about-me .about-paragraf {
  width: 800px;
}

/* User Info */
.user-info {
  margin-top: 30px !important;
}

.user-info .user-info-headline {
  font-size: 20px;
  font-weight: bold;
}

.user-info .user-info-value {
  font-size: 16px;
}

/* User Edit */
.background-profile-edit {
  position: relative;
}

.avatar-edit {
  height: 170px;
  width: 170px;
  max-width: 170px;
  max-height: 170px;
  border-radius: 50%;
  transform: translateY(-60px);
  padding: 5px;
  background-color: #e4e4e4;
  position: relative;
}
